*{
    margin:  0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 9vh;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}
.navlogo{
    height: 7vh;
    width: 15vh;
}
.logo{
    background-image: url(amazon_logo.png);
    height: 7vh;
    background-size: cover;
    width:100%;
}
.border{
    border: 2px solid transparent;
}
.border:hover
{
    border: 1.5px solid white;
}

#deli{
    color: #cccc;
    font-size: 0.80rem;
    margin-left: 15px;
}

.india
{
    font-size: 1rem;
}

.icon{
    display: flex;
    align-items: center;
}

/** box3 **/

.nav-search{
    display: flex;
    /* justify-content: space-evenly; */
    background-color: pink;
    min-width: 40vw;
    /* width:50vw; */
    height:5vh;
    border-radius: 4px;

}
#navsel{
  
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px ;
    background-color: #f3f3f3;
    width:4vw;
    text-align: center;
}
#navin{
    width: 34vw;
}